body {
  background-color: #0B1120;
}
nav {
  background-color:#0B1120; /* same as body or subtle #111827 */
  padding: 20px;
}
.logo{
	padding-left:200px;
}
.nav-menu{
	padding-right: 150px;
}
.nav-link:hover {
  color: #00bfff !important;
  transition: color 0.3s;
}
.btn-sky {
    background-color: #00bfff; /* Sky Blue */
    border:none;     /* বর্ডারও same color */
    color: white;              /* Text color */
  }

  /* Hover effect */
  .btn-sky:hover {
    background-color: #009acd; /* Darker Sky Blue on hover */
    color: white;
  }
.social-icons a {
  color: #00bfff;      /* স্কাই ব্লু আইকন */
  font-size: 22px;
  margin-right: 15px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #ffffff;      /* হোভার করলে সাদা */
  transform: scale(1.2);
}
.resume-btn{
	width: 90px;
	height: 30px;
}
.ri-image{
	width: 230px;
	height: 300px;
}
.custom-shadow{
	box-shadow: 4px 4px 8px #00bfff;

}
.navbar-toggler-icon {
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg);
}



	